body {
  margin: 0;
}

#app {
  height: 100vh;
}

button {
  outline: none;
  margin: 0;
  border: none;
  padding: 0;
  font-size: 1em;
  background-color: unset;
}

*,
*::after,
*::before {
  outline: 1px dashed orange;
}
